
body {
  font-family: 'Khand','Arial',sans-serif;
  background: #000;
}
a {
  color: white;
}
a:hover {
  color: white;
}
.header {
  height: 50px;
  width: 100%;
  background: #9e1a29;
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 600;
  top: 0;
  padding: 5px;
  vertical-align: middle;
  display: flex;
}
button[disabled="disabled"] {
  background: #ccc;
}
.spinner-border {
  color: #fff;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
.form-group {
  padding: 10px;
}
.form-group label {
  font-size: 1.2em;
}